/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/***** FONT STYLES *****/

/***** NAVIGATION STYLES *****/
nav{
    background-color: #6A59EC;
    box-shadow: 0px 2px 5px #777;
}

nav li{
    border-right: 2px solid #FFFF;
}

nav li:last-child {
    border-right: 0;
}

.nav-link{
    color: black !important; 
    font-size: 1.75em;
}

.nav-link:hover{
    color: white !important;
}

.navbar-brand > img:hover{
    opacity: 80%;
}

.navbar-nav{
    margin-left: auto; //need to center the nav
    padding: 5px;
}

.navbar-nav > li{
    padding: 5px;
}

.navbar-nav:last-child{
    margin-right: 0 !important;
}

.navbar > .container-fluid > .custom-toggler-icon{
    background-color: white;
    color: #6A59EC;
    padding: 5px;
}

.navbar > .container-fluid > .custom-toggler-icon:hover{
    opacity: 0.5;
}

/***** JUMBOTRON STYLES *****/
.jumbotron{
    background-image: url("../images/jumbotron.png");
    width: 100%;
    background-size: cover;
    padding: 10px;
}

.jumbotron > h1{
    color: black;
}

.jumbotron > h2{
    color: black;
    font-style: italic;
    font-size: 1.8em;
}

/***** TITLE STYLES *****/
.title, #title{
    text-align: center;
    color: #6A59EC; 
    margin-top: 10px;
}

/***** PROJECT CARDS STYLES *****/
.pCards{
    margin: 20px;
    justify-content: center; //need to get group of cards centered
    //margin: 0 auto;
}

.pCards > .container > .row > .col > .card{
    margin: 10px;
    border-radius: 5px; //not sure why only the top is rounding
    border: 2px solid black;
}

.pCards > .container > .row > .col > .card > .card-body{
    background-color: #6A59EC;
}

.pCards > .container > .row > .col > .card > .card-body > a > p{
    color: white !important;
}


/***** LET'S COLLABORATE STYLES *****/
.collab > h2{
    text-align: center;
    color: #6A59EC;
    font-style: italic;
}

/***** BUTTON STYLES *****/
.button{
    text-align: center;
} 

.button > a, 
.modalbutton > button{
    color: white;
    background-color: #6A59EC;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.5em;
}

/***** FOOTER STYLES *****/
footer{
    background-color: #6A59EC;
    color: white;
    padding: 5px;
}

footer > .container > .row > .col > ul > li,
footer > .container > .row > .col > .row > .col > ul > li
{
    list-style-type: none;
}

footer > .container > .row > .col > ul > li:hover,
footer > .container > .row > .col > .row > .col > ul > li:hover{
    color: rgb(198, 198, 198);
}

/***** ABOUT ME PAGE STYLES *****/
.aboutme > .card, .cstudy > .card{
    margin: 10px;
    background-color: rgb(198, 198, 198);
    color: #6A59EC;
    width: 70%;
    margin: 0 auto;
}

.aboutme > .card > img, .cstudy > .card > img{
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.aboutme{
    margin-bottom: 20px;
}
/***** CONTACT PAGE STYLES *****/
.contact{
    background-color: rgb(198, 198, 198);
    margin: 50px;
}

.contact > .container > .row > .col > p{
    color: #6A59EC;
    padding: 50px;
    font-size: 1.5em;
}

.contact > .container > .row > .col > .container > .mb-3 > label{
    color: #6A59EC;
    font-size: 1.2em;
}

/***** PROJECT PAGES *****/
.projectpage > .pimage{
    width: 60%;
    margin-top: 30px; //gap not showing between image and nav
    margin: 0 auto;
}

.projectpage > h4{
    color: #6A59EC;
}

.projectpage{
    margin-left: 30px; 
}